* {
	box-sizing: border-box;
}

.main {
	background-color: #242424;
	color: bisque;
	text-align: center;
	padding-top: 10%;
}

.wrapper {
	width: 400px;
	margin: 40px auto 0 auto;
	border: 1px solid bisque;
	padding: 20px;
}

.form-signin {
	display: flex;
	flex-direction: column;
}

button {
	margin-top: 20px;
	background-color: bisque;
}

[type=checkbox] {
	margin-top: 20px;
}