* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
.main {
  background-color: #242424;
  color: bisque;
  text-align: center;
  padding-top: 10%;
}

.active {
  margin-top: 15px;
  width: 150px;
  height: 50px;
  background-color: bisque;
  border-radius: 5px;
  cursor: pointer;
}

.active:hover {
  background-color: #242424;
  color: bisque;
  border: 1px solid bisque;
}

.active:active{
  transform: translateY(8px);
}

